:root {
    --headerfooterOpacity: 1;
}

body {
    min-height: 100%;
    margin: 0;
    background-image: url("images/webBack.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgba(77, 62, 38, var(--headerfooterOpacity));
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    margin: 0;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(77, 62, 38, 0.5)
}

.footer {
    background-color: rgba(77, 62, 38, var(--headerfooterOpacity));
    width: 100%;
}

.footer nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.itemlist img {
    width: 64px;
    height: 64px;
}

.icon {
    width: 32px;
    height: 32px;
}